@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Air Heater Monitoring App</h1>
    <p> Monitoring application including table and chart capabilities for the process unit displayed below.</p>
    <img src="~/azurepic.png" alt="Sample Photo" width="75%" height="75%" />
</div>
